<style>
    #resultSearch{
        position: relative;
        height: auto;
        overflow-y: auto;
        max-height: 350px;
        color: #fff;
        max-width: 500px;
        border-radius: 0px 0px 5px 5px;
        background: rgb(255, 120, 77);
    }

    #resultSearch::-webkit-scrollbar {
        width: 12px;
    }
    #resultSearch::-webkit-scrollbar {
        width: 6px;
    }
    #resultSearch::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #eee;
    }
    #resultSearch::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #888;
    }
    #resultSearch::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(100,100,100,0.4);
    }
    #inputor{
        width: 500px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        outline: 0!important;
        background: #333;
        color: #fff;
        border-bottom-width: 0;
        border-color: rgba(255,255,255,0.2);
    }

    #inputor:focus{
        outline: 0;
    }
    .search-row {
        padding: 10px;
        max-width: 100%;
        width: 100%;
        height: 38px;
        display: block;
    }
    .search-row *{
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        display: inline-block;
        max-width: 100%;
        overflow: hidden;

        height: 100%;
        line-height: 19px;
        background: none;
    }

    .search-row:hover{
        background: rgb(255, 105, 57);
    }

    #search-wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        z-index: 222;
    }
    .title_app{
        display: block;
        width: 100%;
        text-align: center;
    }
    .page-content{
        display: flex;
        align-content: center;
    }

    .playlist-box{
        height: 180px;
        width: 180px;
        display: inline-block;
    }
    .playlist-image {
        height: 100%;
        width: 100%;
    }
    .playlist-image img{
        width: 100%;
        height:100%;
    }
</style>
<div class="hero-nav">
    <div class="hero-nav__inner" style="width: 100%;padding-top: 100px;">
        <div style=" position: absolute;top: -236px; left: 0; padding: 130px;">
            <img src="assets/images/soundxtream_logo.png" width="100%" height="auto" alt="logo_header">
        </div>
        <div id="search-wrapper">
            <input id="inputor" my-enter="go()" placeholder="Search" type="text" ng-model="searchQuery" ng-change="search(searchQuery)" class="form-control"/>
            <div id="resultSearch" ng-if="searchQuery.length > 0">
                <div ng-repeat="result in resultsSearch" class="search-row" style="cursor: pointer;">
                    <div ng-if="result.name == undefined">
                        <span ng-if="result.access_url == undefined" ui-sref="user-profile({login: result.login})">
                            <span style="width: auto!important;margin-right: 5px;font-size: 20px;font-size: 20px;" class="mdi mdi-account"></span>
                            <span style="vertical-align: top;">{{result.login}}</span>
                        </span>
                    </div>
                    <div ng-if="result.name != undefined">
                        <span ng-if="result.access_url == undefined" ui-sref="playlist.detail({id: result.id})">
                            <span style="width: auto!important;margin-right: 5px;font-size: 20px;vertical-align: top;" class="mdi mdi-playlist-play"></span>
                            <span style="vertical-align: top;">{{result.name}} by {{result.user.login}}</span>
                        </span>
                        <span ng-if="result.access_url != undefined"
                              ui-sref="song.detail({accessUrl: result.access_url,user: result.user.login, id: result.id})">
                            <span style="width: auto!important;margin-right: 5px;font-size: 20px;font-size: 20px;" class="mdi mdi-music-box-outline"></span>
                            <span style="vertical-align: top;">{{result.name}} by {{result.user.login}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <p>
                <h4>Some tracks</h4>
            </p>
            <div ng-repeat="songDTO in tracks" class="track-box" style="margin-left: 13px;">
                <div class="track-image">
                    <img ng-if="songDTO.song.artwork != null" src="{{songDTO.song.artwork}}" style="background: -webkit-linear-gradient(-45deg, rgb(85, 147, 255) 0%, rgb(150, 27, 255) 100%);"/>
                    <img ng-if="songDTO.song.artwork == null" src="/assets/images/gradient.jpg"/>
                    <div class="controls">
                        <md-button ng-if="playerPlaylist.getSongId(mediaPlayer.currentTrack) != songDTO.song.id || playerPlaylist.playlistCurrent != 'fromMain'"
                                   ng-click="playerPlaylist.addSongAll(tracks,mediaPlayer,$index,'fromMain')" class="md-play" aria-label="play">
                            <md-icon>
                                <i class="material-icons">play_arrow</i>
                            </md-icon>
                        </md-button>
                        <md-button ng-if="playerPlaylist.getSongId(mediaPlayer.currentTrack) == songDTO.song.id && playerPlaylist.playlistCurrent == 'fromMain'"
                                   ng-click="mediaPlayer.playPause()" class="md-play" aria-label="play">
                            <md-icon>
                                <i ng-if="!mediaPlayer.playing" class="material-icons">play_arrow</i>
                                <i ng-if="mediaPlayer.playing" class="material-icons">pause</i>
                            </md-icon>
                        </md-button>
                    </div>
                    <div class="stats">
                        <button class="sx__button like__button"
                                ng-click="like(songDTO.song.id)">
                            <i class="fa fa-heart-o fa-lg"></i>{{songDTO.totalLikes}}
                        </button>
                        <button class="sx__button like__button"
                                ng-click="share(songDTO.song.id)">
                            <i class="fa fa-retweet fa-lg" aria-hidden="true"></i>{{songDTO.totalShares}}
                        </button>
                    </div>
                </div>
                <div class="info">
                    <h5 style="cursor: pointer;text-align: center;" ui-sref="song.detail({accessUrl: songDTO.song.access_url,user: songDTO.song.user.login, id: songDTO.song.id})">{{songDTO.song.name}}</h5>
                    <h6 style="cursor: pointer;text-align: center;" ui-sref="user-profile({login:songDTO.song.user.login})">{{songDTO.song.user.login}}</h6>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p>
            <h4>Some playlists</h4>
            </p>
            <div ng-repeat="playlist in playlists" class="playlist-box" style="margin-left: 13px;">
                <div class="playlist-image">
                    <img src="{{playlist.artwork}}" style="background: -webkit-linear-gradient(-45deg, rgb(85, 147, 255) 0%, rgb(150, 27, 255) 100%);"/>
                </div>
                <div class="info">
                    <h5 ui-sref="playlist.detail({id:playlist.id})">{{playlist.name}}</h5>
                    <h6>{{playlist.user.login}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .hero-nav {
        /*position: relative;
        top: 0;
        right: 0;

        bottom: 0;
        left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        height: 400px;
        min-height: 105px;
        background-image:url('/assets/images/wallmountains.jpg');
        //background-image: url(https://images.unsplash.com/photo-1442606383395-175ee96ed967?q=80&fm=jpg&s=5c8c74be9bc91b47c79a1aaf92264be5);
        background-size: cover;
        background-position: center;
        overflow: hidden;*/

        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: -webkit-box;
        /* display: -webkit-flex; */
        display: -ms-flexbox;
        /* display: flex; */
        /* -webkit-box-pack: center; */
        /* -webkit-justify-content: center; */
        -ms-flex-pack: center;
        /* justify-content: center; */
        /* -webkit-box-align: center; */
        -webkit-align-items: center;
        -ms-flex-align: center;
        /* align-items: center; */
        //height: 450px;
        height: 100vh;
        min-height: 100vh;
        background: url('/assets/images/background_main.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: bottom center;
        //overflow: hidden;
    }
    .hero-nav .hero-nav__inner {
        z-index: 1;
    }
    .hero-nav__inner{
        background: rgba(0,0,0,.5);
    }
    .hero-nav h1 {
        color: #efefef;
        font-size: 5vw;
    }
    .hero-nav.fixme:before {
        background: rgba(0, 0, 0, 0.8);
    }

</style>
